<!DOCTYPE html>
<html>
<head><link rel="stylesheet" href="/style.css"></head>
<body>
    <div class="table-container">
        <h2>Registered Students</h2>
        <table>
            <tr><th>Name</th><th>Email</th><th>Phone</th><th>Course</th></tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.name}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${student.phone}"></td>
                <td th:text="${student.course}"></td>
            </tr>
        </table>
    </div>
</body>
</html>
